# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

/supabase/
/Backend/
/docs/

# Environment Files
.env
.env.local
.env.*.local
.env.azure

# Build outputs
.next/
out/
build/
dist/
*.tsbuildinfo

# Logs & Cache
*.log
.pytest_cache/

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Weights
*.pt
*.pth
*.onnx
